<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
        <span class="navbar-brand mb-0 h1">WeatherApp</span
    </div>
</nav>
<style>
    .navbar-brand {
        font-size: 1.8rem;
        font-weight: bold;
        color: #4facfe;
        text-transform: uppercase; 
    }

    .navbar-light.bg-light {
        background-color: #f8f9fa !important; 
        border-bottom: 2px solid #4facfe; 
    }
</style>
